In [1]:
import pandas as pd

In [2]:
pd.__file__

'/home/justigo86/projects/DataTalksZoomcamp/000_UpAndRunning/sql_refresher/.venv/lib/python3.13/site-packages/pandas/__init__.py'

In [3]:
url = "https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv"
url

'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'

In [4]:
df = pd.read_csv(url)

In [5]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
!uv add sqlalchemy psycopg2-binary

Resolved 118 packages in 1.03s
Prepared 1 package in 4.90s
Installed 3 packages in 49ms
 + greenlet==3.3.0
 + psycopg2-binary==2.9.11
 + sqlalchemy==2.0.46

In [7]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
df.to_sql(name='taxi_zone_data', con=engine, if_exists='replace')

265